body{
    font: 15px/1.5 Franklin Gothic Medium', 'Arial Narrow;
    padding: 0;
    margin: 0;
    background-color: #c5da78;
}

/*global*/
.container{
    width: 80%;
    margin: auto;
    
   
}

ul{
    margin: 0;
    padding: 0;
}



/*header*/
header{
    background: #050979;
    color: #ffffff;
    padding-top: 25px;
    min-height: 50px;
    border-bottom: #e8491d 3px solid;
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header li{
    
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding h1{
    float: left;
    margin-top: 10px;

}

header nav{
    float: right;
    margin-top: 10px;
    
}
header .highlight, header .current a{
    font-weight: bold;
    color: #e8491d;
}
/*section*/
#main{
    font-weight: bold;
    color:  #e8491d;
}

#main_1{
    font-weight: bold;
    color:  #e8491d;
}
/*all h3*/
h3{
    font-weight: bold;
    color:  #e8491d;
}

.header a:hover{
    color: #666666;
    font-weight: bold;
}
/*services*/
.page-title{
    color: #e8491d;
    font-weight: bold;   
}
.massage{
    color: #c5da78
}
#shnM input{
    width: 300px;
    height: 50px;
    
    
}
#showcase{
    min-height: 00px;
    text-align: center;
    color: #c7135e; 
    align-content: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
       
}
#showcase.contet.h1{
    margin-top: 10px;
    font-size: 24px;
    margin-bottom: 10px;
}
#content{
    margin-top: 4px;  
    align-content: center; 
    background-color:  #42A5F5;
}
.signIn input{
    
    width: 300px;
    height: 50px;
    margin: 0 auto;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 10px;
}
.signIn{
    align-content: center; 
}


body{
    font-family: 'Times New Roman', Times, serif;
}

/*footer*/

  footer {
    background: #42A5F5;
    color: white;
    text-align: center;
    position: fixed;
    padding: 3px;
    bottom: 0;
    width: 100%;
  }
/*main*/

#services li{
    list-style: none;
    padding: 20px;
    border: #4b4664 solid 1px;
    margin-bottom: 5px;
    background: #666666;
}

#myDiv_2, #myDiv_1, #myDiv_3 {
    width: 100%;
    padding: 50px 0;
    text-align: left;
    background-color: lightblue;
    margin-top: 20px;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
}

td, th {
    border: 1px solid #dddddd;
    text-justify: auto;

    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
#form{
    float: right;
}
/*signUp*/
.nyeusi{
    padding: 15px;
    background: #42A5F5;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    
}
aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}

@media screen and (min-width: 481px) {
    /* comes into effect for screens larger than or equal to 481 pixels */
    #somethingorother {
      width: 480px ;
    }
  }
