/*Mycode*/
* {
    text-decoration: none;
}

body {

    background-color:#f3f3f3;
}

header {

    background-color: bisque;
    width: 100%;
    height: 100px;
}

header .header-brand {
   font-family: Cambria;
   font-size: 24px;
   font-weight: 900; 
   color: #111;
   text-transform: uppercase;
   display: block;
   margin: 0 auto;
   text-align: center;
   padding: 20px 0px;

}

header nav ul {
    display: block;
    margin: 0 auto;
    width: fit-content;
}

header nav ul li {

    display: inline-block;
    float: left;
    list-style: none;
    padding: 0 16px;
}

header nav ul li  a {
    font-family: Cambria;
    font-size: 16px;
    color: #111;  
}

header-rideOffers {
    display: none;
}

/*INDEX*/


.index-banner {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url("img/gawin.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}

center-vertical {
    display: table-cell;
    vertical-align: middle; 
}
    

.index-banner h2 {
    font-family: Cambria;
    font-size: 60px;
    color: #fff;
    font-weight: 900;
    line-height: 75px;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
}


.index-banner h1 {
    font-family: Cambria;
    font-size: 30px;
    font-style: italic;
    line-height: 45px;
    color: #fff;
    font-weight: 100;
    text-align: center;
    text-shadow: 2px 2px 8px #111;

}
