<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome to Services</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
    <script src="main.js"></script>
</head>
<body>
<header>
    <div class="container">
        <div id="branding">
            <h1><span class="highlight">Ride-My-Way</span></h1>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li class="current"><a href="services.html">Services</a></li> 
        </ul>
    </nav>
</header>
<section>
    <!-- Trigger/Open The Modal -->
<button id="myBtn">Our Services</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <!--<p>Some text in the Modal..</p>-->

<section>
        <h1 class="Page-title">Add Ride</h1>
            <ul id="services">
                <li>
                    <form>
                        <script type="text/JavaScript">
                            function showMessage(){
                                var message = document.getElementById("message").value;
                                display_message.innerHTML= message;
                                }
                        </script>
                            <body>
                            <div class="massage">
                            Enter Ride offers Drivers Only: <input type="text" id = "message">
                            <input type="submit" onclick="showMessage()" value="submit" />
                            <p> The ride offer is: <span id = "display_message"></span> </p>
                            </div>
                            </body>
                            
                    </form>
</section>
<section id="main">
    <h3>Ride Offres</h3>
    <div id="myDiv_1">
            <form id="winga">
                    <table>
                    <tr>
                        
                        
                        <th>Name of the driver</th>
                        <th>Bus /Route</th>
                        <th>Car/ Route</th>
                        <th>Time</th>
                        <th>Price Ugs</th>
                        <th>Offers/Discount</th>
                        <th>Action</th>
                        <th>Action2</th>
                        </tr>
                        <tr>
                        <td>Alfreds Chizi</td>
                        <td>Mbale</td>
                        <td>Nakawa</td>
                        <td>11:Am</td>
                        <td>32000</td>
                        <td>10%</td>
                        <td><button class="editbtn">Reject</button></td>
                        <td><button class="editbtn">Accept</button></td></tr>
                        
                        <td>chiziz</td>
                        <td>Mbarara</td>
                        <td>gulu</td>
                        <td>12pm</td>
                        <td>40,000</td>
                        <td>20%</td>
                        <td><button class="editbtn">Reject</button></td>
                        <td><button class="editbtn">Accept</button></td></tr>
                        
                        <td>winga E</td>
                        <td>Bugolobi</td>
                        <td>Hoima</td>
                        <td>12pm</td>
                        <td>40,000</td>
                        <td>20%</td>
                        <td><button class="editbtn">Reject</button></td>
                        <td><button class="editbtn">Accept</button></td></tr>
                        
                    </table>
                                
                </form>
            </div>                  
                
    </div>
</section>
<section id="main_1">
    <h3>Available Rides and there Details</h3>
    <div id="myDiv_2">
            <form id="winga_E">
                <table>
                    <tr>
                    <th>Name of the driver</th>
                    <th>Bus /Route</th>
                    <th>Car/ Route</th>
                    <th>Time</th>
                    <th>Price (Ugs)</th>
                    <th>Offers/Discount</th>
                    <th>Action</th>
                    </tr>
                    <tr>
                    <td>Alfreds Chizi</td>
                    <td>Mbale</td>
                    <td>Nakawa</td>
                    <td>11:Am</td>
                    <td>32000</td>
                    <td>10%</td>
                    <td><button class="editbtn">Request</button></td></tr>
                    
                    <td>chiziz</td>
                    <td>Mbarara</td>
                    <td>gulu</td>
                    <td>12pm</td>
                    <td>40,000</td>
                    <td>20%</td>
                    <td><button class="editbtn">Request</button></td></tr>
                    
                    <td>winga E</td>
                    <td>Bugolobi</td>
                    <td>Hoima</td>
                    <td>12pm</td>
                    <td>40,000</td>
                    <td>20%</td>
                    <td><button class="editbtn">Request</button></td></tr>
                    
                </table>
                            
            </form>
    </div>
</section>
<section id="main_2">
    <h3>Rides Request</h3>
    <div id="myDiv_3">
            <form id="edu">
    <table>   
        <tr><th><fieldset>
                <p><label>Customer name: <input></label></p>
                <p><label>Telephone: <input type=tel></label></p>
                <p><label>E-mail address: <input type=email></label></p>
                </fieldset></th>
            <th><fieldset>
                <legend> Cars </legend>
                <p><label> <input type=radio name=size> Small </label></p>
                <p><label> <input type=radio name=size> Medium </label></p>
                </fieldset></th>
            <th><fieldset>
                <legend> Buses </legend>
                <p><label> <input type=checkbox> First Class </label></p>
                <p><label> <input type=checkbox> second Class </label></p>
                </fieldset></th>
            <th><fieldset>
                <p><label>Preferred Travell time: <input type=time min="08:00" max="12:00" step="1500"></label></p>
                <p><label>Booking instructions: <textarea></textarea></label></p>
                <p><button>Submit order</button></p>
                </fieldset></th></tr>
    </table>
            </form>.
        </div>
</section>
</div>
</div>
</section>
<footer>
    <p>Ride-my-way 2018 "Your sefty is our priority." 
</footer>
</body>
</html>