<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome to singup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
    <script src="main.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <di id="branding">
                <h1><span class="highlight">Ride-My-Way</span></h1>
            </di>
            <nav>
              <ul>
                  <li><a href="index.html">Home</a></li>
                  <li><a href="about.html">About</a></li>
                  <li class="current"><a href="services.html">Services</a></li>
              </ul>  
            </nav>
        </div>
    </header>
    <section>
            <section id="main">
                    <div class="container">
                        <article id="main-st">
                            <h3 class="form-signin-heading"><i class="icon-lock"></i> Register</h3>
                    <div class="nyeusi">
                        <form id="singup_form" class="form-signup" method="post">
                                
                                <hr>
                                <p>Please fill in this form to create an account.</p>
                                <label for="email"><b>Email</b></label><br>
                                <input type="email" pattern="[^ @]*@[^ @]*" placeholder="Enter Email" name="email" required><br>
                                <label for="psw"><b>Password</b></label><br>
                                <input type="password" placeholder="Enter Password" name="psw" required>
                                <label for="psw-confirm"><b><p>Confirm Password</p></b></label>
                                <input type="password" placeholder="Confirm Password" name="psw-confirm" required>
                                <p>By creating an account you agree to our <a href="signUp.html">Terms & Condition a side.</a>.</p>
                                <button type="submit" class="registerbtn">Register</button> 
                                <div id="container signin">
                                        <p>Already have an account? <a href="index.html">Sign in</a>.</p>
                                </div>
                        </form>
                    </div>
                        </article>
                        <aside id="sidebar">
                            <h3>Term & Condition</h3>
                            <hr>
                                <p>DLL to handle importing modules that are themselves DLL’s. (This is the first key undocumented fact.)
                                 Instead, link to pythonNN.dll; it is typically installed in C:\Windows\System. NN is the Python version, a number such as “33” for Python 3.3.</p><br>
                                <p>You can link to Python in two different ways. Load-time linking means linking against pythonNN.lib, while run-time linking means linking against pythonNN.dll. (General 
                                    note: pythonNN.lib is the so-called “import lib” corresponding to pythonNN.dll. 
                                 It merely defines symbols for the linker.)</p>
                                <p>Run-time linking greatly simplifies link options; everything happens at run time. Your code must load 
                                    pythonNN.dll using the Windows LoadLibraryEx()routine. The code must also use access routines and data in pythonNN.dll (that is, Python’s C API’s)
                                     using pointers obtained by the Windows GetProcAddress() routine. Macros can make using these pointers transparent to any C code that 
                                 calls routines in Python’s C API.</p><br>
                                
                        </aside>
                    </div>
                </section>
    <footer>
        <p>Ride-my-way 2018 "Your sefty is our priority." 
    </footer>
</body>
</html>